/*UNIVERSAL*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY*/

.theme-light {
    --container-background-color: rgb(240, 240, 240);
    --font-default-color: black;
    --header-font-hover-color: rgb(70, 70, 70);
    --container-darkest-color: rgb(250, 250, 250);
    --container-settings-color: white;
    --player-event-outline-color: white;

    --settings-button-color: 0
}


.theme-dark {
    --container-background-color: black;
    --font-default-color: white;
    --header-font-hover-color: rgb(180, 180, 180);
    --container-darkest-color: rgb(29, 29, 29);
    --container-settings-color: rgb(49, 49, 49);
    --settings-button-color: 100
}

body {
    background-color: var(--container-background-color);
    color: var(--font-default-color);
    font-family: "Segoe UI", Arial, sans-serif;
    overflow-x: hidden;

}

main {
    margin-top: 6rem;
    padding-left: 3rem;
}

header a {
    color: var(--font-default-color);
    text-decoration: none;
}

.title {
    width: 40%;
}

.title :hover {
    color: var(--header-font-hover-color)
}

.section {
    width: 76.9%;
    max-width: 1000px;
    justify-self: center;
}

.headingandsettings {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 45vw;
    font-size: 1.5rem;
    width: 100%;
    min-height: 75px;
    padding: 1rem;
    position: fixed;
    top: 0%;
    border-bottom: 0.25px solid var(--border-bottom-header-color);
    z-index: 10;
}

.settings-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    filter: brightness(var(--settings-button-color));
    user-select: none;
}

.settings-button:hover {
    transform: scale(1.3);
    transform-origin: center;
    transition: transform 150ms ease-in-out;
}


.settings-menu {
    width: 20%;
    display: none;
    background-color: var(--container-settings-color);
    border-radius: .5rem;
    position: fixed;
    top: 100px;
    left: 87%;
    transform: translateX(-50%);
    z-index: 20;
    min-width: 150px;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, .25);
    padding-inline: 1rem;
}

.settings-menu details {
    text-align: center;
    cursor: pointer;
}

details summary {
    text-align: start;
    list-style: none;
    font-size: .9rem;
    margin-bottom: .5rem;
    padding: 0;
    text-wrap: nowrap;
    width: 100%;
}

details summary::after {
    position: absolute;
    content: "▶";
    font-size: .75rem;
    left: 90%;
    display: inline-block;
    transform: rotate(90deg);

}

details[open] summary::after {
    transform: rotate(-90deg);
}

.settings-menu .settings-menu-button {
    width: 100%;
    background-color: var(--container-settings-color);
    color: var(--font-default-color);
    border: none;
    cursor: pointer;
    text-align: start;
}

.settings-menu .settings-menu-button:hover {
    text-decoration: underline;
}



.settings-menu li {
    background-color: var(--container-settings-color);
    border: none;
    list-style: none;
    margin-block: 1rem;
}

.settings-menu-element-divider {
    width: 100%;
    border-bottom: solid .75px var(--container-background-color);
}

.headingandsettings {
    background-color: var(--container-darkest-color);
}

.home-button {
    color: var(--font-default-color);
    text-decoration: none;
    background-color: rgb(46, 204, 113);
    display: flex;
    width: 120px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: .75rem;
    font-weight: bold;
}

::selection {
    background-color: rgb(46, 204, 113);
    color: black;
  }