:root {
    --GLOBAL-DANHAXGRADES-SCHEME: rgb(46, 204, 113);
    --DIVIDE: .25px;
    --GLOBAL-FONT-COLOR-GREY: grey;
    --GLOBAL-FONT-COLOR-WHITE: #fff;
    --GLOBAL-FONT-COLOR-BLACK: #000;
    --RATING-BLUE: #0e87e0;
    --RATING-GREEN: #33c771;
    --RATING-ORANGE: #f08022;
    --RATING-RED: #e55e5b;
    --RESULT-WIN: #007d00;
    --RESULT-DRAW: grey;
    --RESULT-LOSS: #dc1e1e;
    --PROGRESS-BAR-HIGH: #33c771;
    --PROGRESS-BAR-MIDDLE: #f08022;
    --PROGRESS-BAR-LOW: #e55e5b;
    --GLOBAL-HIGLIGHT-BG-COLOR: #2ecc71;
    --GLOBAL-HIGLIGHT-FONT-COLOR: #000
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.theme-light {
    --page-background-color: #f0f0f0;
    --card-bg-main: #fafafa;
    --card-bg-second: #ebebeb;
    --card-bg-third: #e1e1e1;
    --soccer-field-bg: #e6e6e6;
    --soccer-field-stroke: #fafafa;
    --primary-divider-bg: #ebebeb;
    --secondary-divider-bg: #dcdcdc;
    --third-divider-bg: #d2d2d2;
    --primary-arrow-bg: rgb(175, 175, 175);
    --primary-arrow-stroke: rgb(80, 80, 80);
    --primary-font-color: #000;
    --percentile-button-default-bg: #fff;
    --percentile-button-default-font-color: #000;
    --percentile-button-toggled-bg: #000;
    --percentile-button-toggled-font-color: #fff;
    --percentile-button-hover-bg: #ebebeb;
    --progress-bar-background-color: #c3c3c3;
    --player-radar-bg: #b4b4b4;
    --nav-item-font-color: grey;
    --team-formation-info--bg-color: #0aa069;
    --team-formation-info-font-color: #fff;
    --primary-player-bg-color: #e6e6e6;
    --soccer-field-bg-color-primary: #0a965a;
    --player-event-bg-color: #fff;
    --player-event-outline-color: #fff;
    --player-ui-bg-color: #fff
}

.theme-dark {
    --page-background-color: #000;
    --card-bg-main: #1d1d1d;
    --card-bg-second: #313131;
    --card-bg-third: #414141;
    --soccer-field-bg: #313131;
    --soccer-field-stroke: #454545;
    --primary-divider-bg: #323232;
    --secondary-divider-bg: #414141;
    --third-divider-bg: #4b4b4b;
    --primary-arrow-bg: rgb(80, 80, 80);
    --primary-arrow-stroke: rgb(175, 175, 175);
    --primary-font-color: #fff;
    --percentile-button-default-bg: #313131;
    --percentile-button-default-font-color: #fff;
    --percentile-button-toggled-bg: #fff;
    --percentile-button-toggled-font-color: #000;
    --percentile-button-hover-bg: #454545;
    --progress-bar-background-color: #3b3b3b;
    --player-radar-bg: #636363;
    --nav-item-font-color: grey;
    --team-formation-info--bg-color: #313131;
    --team-formation-info-font-color: #fff;
    --soccer-field-bg-color-primary: #2c2c2c;
    --primary-player-bg-color: #4a4a4a;
    --player-event-bg-color: #2c2c2c;
    --player-event-outline-color: grey;
    --player-ui-bg-color: #222
}

body {
    background-color: var(--page-background-color);
    color: var(--primary-font-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    transition: background-color .5s ease, color .5s ease, fill .5s ease, stroke .5s ease;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.15rem;
}

.global-content-wrapper {
    display: grid;
    width: 1280px;
    width: 100%;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1rem;
    overflow-x: hidden;
}

@media (max-width: 1200px) {
    .global-content-wrapper {
        grid-template-columns: 1fr;
    }
}

.global-left-grid,
.global-right-grid {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.primary-hover:hover {
    opacity: .7
}

.secondary-hover:hover {
    background-color: var(--card-bg-second)
}

.third-hover:hover {
    text-decoration: underline
}

.fourth-hover:hover {
    background-color: var(--card-bg-third)
}

.primary-rating {
    display: inline;
    font-weight: 700;
    font-size: .75rem;
    border-radius: 1rem;
    padding: .025rem .3rem;
    align-self: center
}

.primary-rating,
.secondary-rating {
    color: var(--GLOBAL-FONT-COLOR-WHITE)
}

.nav-item {
    flex: 1;
    background-color: var(--card-bg-main);
    color: var(--nav-item-font-color);
    border: none;
    font-weight: 600;
    cursor: pointer;
    height: 100%;
    position: relative;
}

.nav-item:hover {
    color: var(--primary-font-color);
}

.nav-highlight {
    color: var(--primary-font-color);
}

.nav-highlight::after {
    content: "";
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: 3px;
    background-color: var(--GLOBAL-DANHAXGRADES-SCHEME);
    border-radius: 2.5rem 2.5rem 0 0;
}

.secondary-rating {
    border-radius: .5rem;
    padding: .1rem .3rem
}

::-webkit-scrollbar {
    background-color: var(--player-ui-background-color)
}

::-webkit-scrollbar-thumb {
    background-color: #646464;
    border-radius: .5rem;
    height: 3vw
}

::-webkit-scrollbar-thumb:hover {
    background: #adb5bd
}

::selection {
    background-color: var(--GLOBAL-HIGLIGHT-BG-COLOR);
    color: var(--GLOBAL-HIGLIGHT-FONT-COLOR)
}