:root {
    --DIVIDE: .25px;
    --GLOBAL-FONT-COLOR-GREY: grey;
    --GLOBAL-FONT-COLOR-WHITE: white;
    --GLOBAL-FONT-COLOR-BLACK: black;
    --RATING-BLUE: rgb(14 135 224);
    --RATING-GREEN: rgb(51 199 113);
    --RATING-ORANGE: rgb(240 128 34);
    --RATING-RED: rgb(229 94 91);
    --RESULT-WIN: rgb(0, 125, 0);
    --RESULT-DRAW: rgb(128 128 128);
    --RESULT-LOSS: rgb(220, 30, 30);
    --PROGRESS-BAR-HIGH: rgb(51 199 113);
    --PROGRESS-BAR-MIDDLE: rgb(240 128 34);
    --PROGRESS-BAR-LOW: rgb(229 94 91);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.theme-light {
    --page-background-color: rgb(240, 240, 240);
    --card-bg-main: rgb(250, 250, 250);
    --card-bg-second: rgb(235, 235, 235);
    --card-bg-third: rgb(225, 225, 225);

    --soccer-field-bg: rgb(230, 230, 230);
    --soccer-field-stroke: rgb(250, 250, 250);

    --divider-bg-primary: rgb(235, 235, 235);
    --divider-bg-secondary: rgb(220, 220, 220);
    --divider-bg-third: rgb(210, 210, 210);

    --primary-font-color: black;

    --percentile-button-default-bg: white;
    --percentile-button-default-font-color: black;
    --percentile-button-toggled-bg: black;
    --percentile-button-toggled-font-color: white;
    --percentile-button-hover-bg: rgb(235, 235, 235);

    --progress-bar-background-color: rgb(195, 195, 195);

    --player-radar-bg: rgb(180, 180, 180);
}

.theme-dark {
    --page-background-color: black;
    --card-bg-main: rgb(29, 29, 29);
    --card-bg-second: rgb(49, 49, 49);

    --soccer-field-bg: rgb(49, 49, 49);
    --soccer-field-stroke: rgb(69, 69, 69);

    --divider-bg-primary: rgb(50, 50, 50);
    --divider-bg-secondary: rgb(65, 65, 65);
    --divider-bg-third: rgb(75, 75, 75);

    --primary-font-color: white;

    --percentile-button-default-bg: rgb(49, 49, 49);
    --percentile-button-default-font-color: white;
    --percentile-button-toggled-bg: white;
    --percentile-button-toggled-font-color: black;
    --percentile-button-hover-bg: rgb(69, 69, 69);

    --progress-bar-background-color: rgb(59, 59, 59);

    --player-radar-bg: rgb(99, 99, 99);
}

body {
    background-color: var(--page-background-color);
    color: var(--primary-font-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      transition: background-color 0.5s ease, color 0.5s ease, fill 0.5s ease, stroke 0.5s ease;
}

::selection {
    background-color: rgb(46, 204, 113);
    color: var(--GLOBAL-FONT-COLOR-BLACK);
}

.primary-hover:hover {
    opacity: .7;
}

.secondary-hover:hover {
    background-color: var(--card-bg-second);
}

.secondary-rating {
    color: var(--GLOBAL-FONT-COLOR-WHITE);
    border-radius: .5rem;
    padding: 0.1rem 0.3rem 0.1rem 0.3rem;
}